.leonardo-da-vinci {
    background: url('../img/leonardo-da-vinci.jpg') no-repeat;
}

.michelangelo {
    background: url('../img/michelangelo.jpg') no-repeat;
}

.artemisia-gentileschi {
    background: url('../img/artemisia-gentileschi.jpg') no-repeat;
}